html, body {
  padding: 0;
  margin: 0;
  font-family: 'Verdana', 'Geneva', sans-serif;
  position: relative;
}

* {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
#canvas {
  margin: 0 0 0 50px;
}

#info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
}

#gameOver {
  display: none;
  text-align: center;
  position: absolute;
  color: white;
  font-size: 3em;
  background: rgba(0,0,0,.75);
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 100px;
}

#welcome {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.75);
  color: white;
}

#welcome #msg {
  width: 400px;
  height: 300px;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 150px);
  border: solid 1px black;
  border-radius: 25px;
  background: rgba(255,255,255,.5);
  font-size: 1em;
}
#welcome #msg #close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: red;
  font-weight: bold;
  font-size: 2em;
}

#welcome #msg #text {
  margin-top: 50px;
  height: 200px;
  padding: 0 50px;
}
